<!DOCTYPE html PUBLIC>
<html xmlns="">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>C&T Pet Shop</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{categoria.name}}_estilo.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon" type="image/x-icon" href="../Imagenes/logo.ico">
<script type="text/javascript">
  		{% for contenidoCategoria in categoria.contenidoCategorias %}
 		{% for Filtro in contenidoCategoria.filtros%}
	
      function filtro{{Filtro.name.name}}() {
        alert("Se filtra por {{Filtro.name.name}}");
      }
    

   	 {% endfor %}	
    {% endfor %}
	</script>
</head>
<body>
<div id="wrapper">
	<div id="logo" width=200 height=240></div>
	</div>
	<hr/>
	<div id="header">
		<div id="menu" width=800>
			<ul>
				<li><a href="CyT.html" class="first">Inicio</a></li>
				{% for contenidoCategoria in categoria.contenidoCategorias %}
    			{% for  subCategoria in contenidoCategoria.subCategorias %}
      	 			<li><a href="{{subCategoria.name.name}}.html" id="menu_inicio">{{subCategoria.name.name}}</a></li>
    			{% endfor %}
				{% endfor %}
				<li></li>
			</ul>
		</div>
				
	</div>
	<div id="page">
	<div id="page-bgtop">
    
    <div id="sidebar">
			<ul>
				<li>
					<ul>
						{% for contenidoCategoria in categoria.contenidoCategorias %}
						 	{% for Filtro in contenidoCategoria.filtros%}
						      <label id="filtros" onclick="filtro{{Filtro.name.name}}()">{{Filtro.name.name|capitalize}}</label>
							</br>
						   	{% endfor %}	
    					{% endfor %}
	
					</ul>
				</li>
				<li>
				</li>
			</ul>
	</div>
		    
		<div id="content">
			<div id="area_productos">
				{% for contenidoCategoria in categoria.contenidoCategorias %}
				 	{% for Producto in contenidoCategoria.productos%}
						
      			<div id="espaciado" style="height:10px; width:auto"> </div>
		      			<a href="../Imagenes/productos/{{Producto.Tipo.name}}/{{Producto.Src.name}}.jpg"><img class="imagen" src="../Imagenes/productos/1m.jpg"></a>
		          <div>
		            <b><span id="pro0">Camisa roja</span>:&nbsp;<span id="pre0">100.000</span></b>
		          </div>
						   	{% endfor %}	
    					{% endfor %}
			</div>
</div>
		<!-- end #content -->
		
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright  2018.</p> <p>Tatiana Velandia - 20111020092<a href="#"></a>.</p> 
		<p>Carlos Obregon - 20141020009<a href="#"></a>.</p>
	</div>
	</div>
	<!-- end #footer -->
</div>
<div style="text-align: center; font-size: 0.75em;"><a href="#"></a></div></body>
</html>
